* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
.container-fluid-logo {
    display: flex;
}
.redtext p {
    font-size: 8px;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 1.2;
}
.redtext h1 {
    margin-bottom: 2px;
    line-height: 1;
    color: #c00021;
    font-size: 22px;
    text-shadow: 0 1px 2px rgba(0,0,0,);
    margin-top: 25px;
}
.container-fluid-logo img {
    width: 61px;
    height: 57px;
    margin: 16px;
}
.menu-bar {
    background-color: rgb(196, 4, 4);
    text-align: center;
    height: 40px;
    padding: 10px;
}
.menu-bar ul li .sub-menu-1 ul li {
    width: 293px;
    padding: 10px;
    border-bottom: 1px solid #fff;
    background: #c71919;
    text-align: left;
}

.menu-bar ul {
    display: inline-flex;
    list-style: none;
    color: #fff;
    padding: 0;
}

.menu-bar ul li {
    position: relative;
    margin: 0 10px;
}

.menu-bar ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
}

.menu-bar ul li:hover {
    background-color: black;
    border-radius: 3px;
}

.sub-menu-1 {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #c2000170;
    padding: 10px;
}

.menu-bar ul li:hover .sub-menu-1 {
    display: block;
}

.menu-bar ul li .sub-menu-1 ul {
    display: none;
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.menu-bar ul li:hover .sub-menu-1 ul {
    display: block;
}



.menu-bar ul li .sub-menu-1 ul li:last-child {
    border-bottom: none;
}


.container-fluid-text1 {
    border-radius: 6px;
    padding: 18px 10px;
    width: 276px;
    background-color: #c2000170;
    margin-left: 153px;
    color: #fff;
    height: 430px;
    text-align: center;
    font-weight: 300;
    letter-spacing: 1px;
}

.container-fluid-text {
    background-image:url(/images/pu9.jpg);
    background-size: cover;
    height: 550px;
    width: 100%;
    font-family: Inter;
    font-weight: 300;
    letter-spacing: 1px;
}


 .text-container p {
    text-align: center;
    color: #030395;
    letter-spacing: 1px;
    margin-top: 69px;
}

.text-container{
width: 50%;

}
.big-container-img {
    margin-top: 30px;
    padding: 31px;
    display: flex;
 width: 100%;


}
.image-container{
    width: 50%;
}

.image-container img {
  
    border-radius: 28px;
    margin-left: 120px;
}

.first-block span {
    width: 29%;
    height: 2px;
    background-color: #ada9a9;
    box-sizing: border-box;
}

.first-block h4 {
    color: #c00021;
    margin-top: 13px;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    padding: 16px;
    font-family: Inter-Bold;
    font-weight: 600;
    border-left: 2px solid #ada9a9;
    border-right: 2px solid #ada9a9;
}

.text-content h4 {
    border: none;
    width: 20%;
    text-align: center;
    padding: 24px 24px;
    background-color: red;
    border-radius: 12px;
    color: white;
}

.container-fluid-block {
    background-color: #eee;
    width: 100%;
    margin-top: 50px;
    padding: 9px;
}

.text-content {
    display: flex;
    justify-content: center;
    text-align: center;
}

.text-content h5 {
    font-size: 9px;
    width: 13%;
    padding: 19px 24px;
    border-radius: 12px;
    color: black;
    background-color: white;
    word-spacing: 1px;
    margin: 27px;
}

.text-content h4 {
    font-size: 10px;
    border: none;
    padding: 19px 24px;
    background-color: #c00021;
    border-radius: 12px;
    color: white;
    width: 13%;
    margin: 27px;
}

.tablist li {
    border: 1px solid;
    margin: 17px;
    padding: 14px 91px;
    list-style-type: none;
    border-radius: 8px;
    font-size: 22px;
}


.tablist li {
    border: none;
    border: none;
    margin: 17px;
    padding: 14px 91px;
    list-style-type: none;
    border-radius: 8px;
    font-size: 22px;
    background-color: #fff;
    color: black;
}


.formcontainer {
    margin-left: 37px;
    background-color: white;
    height: 320px;
    margin-top: 12px;
    border: none;
    width: 50%;
    padding: 60px;
    border-radius: 8px;
    
}
.formcontainer1{
    margin-left: 37px;
    background-color: white;
    height: 320px;
    margin-top: 12px;
    border: none;
    width: 50%;
    padding: 60px;
    border-radius: 8px;
 
}
.formcontainer2 {
    margin-left: 37px;
    background-color: white;
    height: 320px;
    margin-top: 12px;
    border: none;
    width: 50%;
    padding: 60px;
    border-radius: 8px;

}
.formcontainer3 {
    margin-left: 37px;
    background-color: white;
    height: 320px;
    margin-top: 12px;
    border: none;
    width: 50%;
    padding: 60px;
    border-radius: 8px;
   
}
.formcontainer ul {
    font-size: 20px;
    margin-top: 20px;
}

.image-screen{
    background-image: url(images/footer-collage.png);
    height: 300px;
    background-size: cover;
}
/* tab content */

.tab-container h2 {
    margin-bottom: 23px;
    color: #272746;
    font-size: 28px;
    border-bottom: solid 2px #c00021;
}
.tab-container a {
    color: #c00021;;
    font-family: inter;
    font-size: 19px;
    line-height: 1.5;
}

.tab-container ul {
    margin: 25px;
    border-radius: 9px;
    margin: 7px 35px;
    height: 300px;
    background-color: white;
    width: 890px;
    padding: 56px;
    font-size: 18px;
}
.tab button {
    margin: 23px;
    width: 264px;
    display: block;
    border: 1px solid;
    padding: 19px 16px;
    font-size: 19px;
    border-radius: 10px;
    background-color: white;
    color: #878484;
    font-weight: 500;
}
.tab-container {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 140px;
    background: linear-gradient(to left,#e5e5e5,#c00021);
}


button.tablink {
    font-size: 23px;
    color: #747171;
    text-align: left;
    width: 334px;
    padding: 19px;
    border-radius: 5px;
    border: none;
    margin: 0px;
}


.footer-panel1 {
    color: white;
    display: flex;
    justify-content: space-evenly;

}
.footer-panel1 p {
    font-size: 22px;
    margin-bottom: 18px;
    text-decoration: underline;
}

.footer-panel1 ul {
    list-style-type: none;
}

.footer-panel1 li  {
    margin-top: 13px;
}
.footer-panel1 p {
    font-size: 22px;
    margin-bottom: 18px;
}
footer {
    padding: 30px;
    background-color: #323232;
    width: 100%;
}
.footer-text1{
    margin-top:20px;
    color: white;
    align-items: center;
    text-align: center;
}
.footer-text1 h3{
    color: white;
    margin-top: 20px;
    align-items: center;
  
    font-size: 12px;
    
}

.span-dark {
    text-align: center;
    background-color: red;
    padding: 13px 19px;
    border-radius: 12px;
}
/* .tablink {
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    padding: 15px 94px;
    margin: 15px;
} */





/* .demo1{
    position: absolute;
    background-color: aqua;
    top: 100px;
    left: 100px;
    width: 100px;
    height: 100px;
    border: 2px solid black;
  transition-property:  all 2s ease-in ;
  animation: colorAnimate 4s ease-in 1s infinite normal;
  animation-direction: reverse;
} */
@keyframes colorAnimate {
    0%{left: 0px;
    bacground-color:aqua}
    50%{
        background-color: yellow;
    }
    100%{
        left: 200px;
        background-color: red;
    }
}


@media  (max-width: 800px) {
    container-fluid-text {
        margin-left: 0px;
  }
  .container-fluid-text1 {
  max-width: 100%;
    margin-left: 0px;
  }
  .image-container img {
    width: 100%;
    margin-left: 0px;
}
.text-container{
    width: 100%;
}
.big-container-img {
 
   display: initial;
}


.container-fluid-block {
    max-width: 100%;
    padding: 0px;
}
.text-content h5 {
    width: 100%;
    padding: 25px;
    margin: 0px;
}
.text-content h4 {
    padding: 6px;
    width: 100%;
    margin: 13px;
}
.tab-container ul {
    border-radius: 9px;
    background-color: white;
    padding: 18px;
    font-size: 18px;
}
.tab-container {
    display: initial;
}
tab button {
  
    width: 100%;
    display: initial;
  padding: 12px;
  
}
.image-screen {
    height: 50px;
    max-width: 100%;
}
.footer-panel1 {
    display: initial;
}

.menu-bar {
 height: 190px;
    padding: 5px;
}
.menu-bar ul {
   display: initial;
    padding: 0;
}
}

  

